<h1> <%= @cocktail.name %> </h1>
<h2>Ingredients</h2>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<!-- Un cocktail has many doses, donc: -->
<% @cocktail.doses.each do |dose| %>
  <ul>
    <!-- Une dose belongs to un ingredient, et une dose a une description, donc: -->
    <li><%= dose.ingredient.name %> : <%= dose.description %>
      <p><%= link_to "delete", dose_path(dose),
      # method : il s'agit du VERB, donc DELETE:
       method: :delete,
       data: { confirm: "Are you sure?" } %></p>
  </ul>
<% end %>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"  %>
<br>
<%= link_to "back to index", cocktails_path %>
